html{
  background-color: #121212;
}

.container{
  width: 100vw;
  height: 100vh;
  background-color: #121212;
}
body{
  width: 0;
  height: 0;
}
.left-panel {
  width: 245px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  background-color: black;
  padding-left: 10px;
  border-right: 1px solid #282727;
}


.btns{
  height: 70vh;
  font-size: 1rem;
}


.insta{
  font-size: 1.5rem;
}

.more{
  font-size: 1.2rem;
  line-height: 50px;
}
.btns div{
  width: 180px;
  height: 50px;
  margin-left: 6px;
  margin-bottom: 6px;
}
.btns div:hover{
  background-color: #121212;
  border-radius: var(--bs-border-radius-pill)!important;
  width: 200px;
  cursor: pointer;
}



i{
  margin-right: 15px;
  font-size: 1.4rem;
  padding-left: 15px;
}

i span {
  margin: 0;
}

.btns div {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.left-panel i:hover {
  font-size: 1.5rem;
}
.more:hover{
  background-color: #121212;
  border-radius: var(--bs-border-radius-pill)!important;
  width: 200px;
  cursor: pointer;
}

@media screen  and (max-width : 1024px){
  .btns div span{
    display: none;
  }
  .insta span{
    display: none;
  }
  .more span {
    display: none;
  }
  .left-panel{
    width: 75px;
  }
  .btns div:hover{
    background-color: #121212;
    border-radius: 0;
  }
  .left-panel i:hover {
    background-color: #121212;
    border-radius: 100%;
  }
}

.right-panel{
  width: 320px;
  background-color: #121212;
  color: white;
  position: absolute;
  top: 55px;
  left: 62vw;
}
.photo{
  font-size: 1.9rem;
}
.profile-details{
  font-size: 14px;
}
.name{
  font-weight: bold;
}
.username{
  color: #6b6969;
}

.switch{
  margin-left: 140px;
  font-size: 12px;
  color: #049dea;
}

.switch:hover{
  color: white;
  cursor: pointer;
}

.t{
  margin-left: 15px;
}

.suggestions i {
  font-size: 1.5rem;
}
.switch {
  text-align: end;
}

.right-panel .align-items-center{
  justify-content: space-between;
}

.content{
  width: 470px;
  position: relative;
  left: 460px;
  top: 26px;
}

.story-panel {
  height: 119px;
  background-color: black;
  border: 1px solid #282727 ;
  border-radius: 10px;
  padding-left: 20px;
}
.story{
  height: 56px;
  width: 56px;
  border-radius: 50%;
  border: 3px solid #e422c0 ;
  background-color: white;
}
.story-username{
  font-size: 12px;
}
.story-panel div{
  margin-right: 10px;
}
.post{
  font-size: 14px;
  height: 807px;
  background-color: black;
  border: 1px solid #282727;
  border-radius: 10px;
}
.top{
  min-height: 58px;
  margin: 4px 4px 4px 10px;
}
.details{
  width: 368px;
  margin-left: 15px;
}
.details .name{
  font-weight:bold;
  color: white;
}
.profile-pic{
  width: 32px;
  height: 32px;
  background-color: white;
  border-radius: 50%;
}
.dots i:hover{
  color: grey;
}
.post .photo{
  height: 470px;
  background-color: grey;
}
